@mixin btnStyle() {
  color: $text-color;
  width: 30%;
  &:hover {
    background-color: $swap-bg-color-to-red;
    color: $swap-text-color;
  }
}

@mixin btn-color-style() {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid $btn-color;
  &:hover {
    border: 2px solid $swap-text-color;
  }
}

@mixin LinkTag {
  display: block;
  padding: 0.5rem 1rem;
  font-size: $text-font-size;
  color: $heading-color;
  text-decoration: none;
  transition: color 0.4s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@mixin sectionMarginTop {
  margin-top: 4.5rem;
  background: $Pageheading-bg-color;
  padding: 18px 0;
}

@mixin displayFlex($value) {
  display: flex;
  justify-content: $value;
  align-items: center;
}

@mixin transition-text {
  transition: all ease-in-out 0.3s;
}

@mixin icon-css {
  font-size: $icon-font-size;
  margin-bottom: 10px;
  color: $icon-color;
}

@mixin box-and-shadow {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

@mixin animation-fadeInY($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      transform: translateY($from);
      opacity: 0;
      display: none;
    }
    100% {
      transform: translateY($to);
      opacity: 1;
      display: block;
    }
  }
}

@mixin animation-fadeInX($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      transform: translateX($from);
      opacity: 0;
      display: none;
    }
    100% {
      transform: translateX($to);
      opacity: 1;
      display: block;
    }
  }
}
