// Color

$bg-white-color: #fff;
$bg-grey-color: grey;
$bg-black-color: #000;
$border-color: #000;
$text-white-color: #fff;
$text-hover-color: rgb(231, 231, 95);
$num-color: #ed5b5b;
$btn-color: #fff;
$icon-color: #000;

$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881a1;
$input-text-active: #bfd2ff;

$heading-color: #fff;
$Pageheading-bg-color: #f8f9fa;
$footer-text-color: #fff;
$footer-color: #424242;

// Color swap (text and bg)
$swap-bg-color-to-red: #ed5b5b;
$swap-text-color: #fff;

// font-size

$text-font-size: 1rem;
$h3-font-size: 28px;
$h4-font-size: 24px;
$btn-font-size: 1.75rem;
$icon-font-size: 30px;
$icon-font-size-large: 4rem;

// transition time

$transition-props: all ease-in-out 0.3s;
