@import "./mixins";
@import "./variables";

// ---------------------------- Navbar ---------------------------- //

.navbar {
  background: $bg-grey-color;
  height: 10vh;

  & .navbar-brand {
    @include transition-text;
    color: $text-white-color;

    &:hover {
      color: $text-hover-color;
    }
  }

  & .navbar-toggler {
    border: 0;
    font-size: $btn-font-size;
  }

  & .navbar-nav a {
    @include LinkTag();
    &:hover {
      color: $text-hover-color;
    }
  }
}

// ---------------------------- Home ---------------------------- //

#home-div {
  min-height: 100vh;
  @include displayFlex(center);

  background: url("../asset/images/bg-1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  & .home-row-div {
    padding: 5rem;
    & .text-div {
      & h1,
      p,
      button {
        color: white;
      }

      & h1 {
        margin-bottom: 3rem;
      }

      & .btn {
        @include btnStyle;
      }

      & .btn-primary {
        @include btn-color-style;
        &:focus {
          outline: none;
          color: $bg-white-color;
          background-color: $swap-bg-color-to-red;
          border-color: $bg-white-color;
          box-shadow: none;
        }
      }
    }
  }

  & .image-div {
    & .trypic {
      margin: auto;
      width: 30vw;
      height: 100%;
      background: url("../asset/images/pexels-logo.jpg");
      // background-attachment: fixed;
      // background-position: center center;
      background-size: cover;
      border-radius: 2rem;
    }
  }
}

// ---------------------------- Fetch Page ---------------------------- //

#fetch-container {
  min-height: 100vh;
}

.card-div {
  &:hover .img-info {
    background: rgba(0, 0, 0, 0.85);
    opacity: 1;
  }

  & .img-info {
    padding: 30px 30px;
    opacity: 0;
    transition: $transition-props;
    overflow: hidden;

    & .card-title,
    .card-text,
    .card-link {
      color: $text-white-color;
    }
  }
}

// ---------------------------- Search ---------------------------- //

.search-div {
  & .input-group {
    width: 40%;
    margin: auto;
  }

  & .input-div {
    border: 1px solid $border-color;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  & svg {
    font-size: $btn-font-size;
    color: $btn-color;
    cursor: pointer;
    transition: $transition-props;
  }

  & .input-group-text {
    background-color: $bg-black-color;
    border: 1px solid $border-color;
    transition: $transition-props;
  }

  // & .input-div:hover ~ .input-group-text {
  //   background: $swap-bg-color-to-red;
  // }
}

.hover {
  position: relative;

  &__no-hover {
    opacity: 1;
    transition: $transition-props;
  }

  &:hover &__no-hover {
    opacity: 0;
  }

  &__hover {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: $transition-props;

    & button {
      padding: 0;
      background-color: transparent;
      border: none;
    }
  }

  &:hover &__hover {
    opacity: 1;
  }
}

// ---------------------------- DataDiv ---------------------------- //
.data-div {
  margin-bottom: 7rem;
}

// ---------------------------- Btn ---------------------------- //

.btn-div {
  & .btn {
    @include btnStyle;
  }

  & .btn-primary {
    @include btn-color-style;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

// ---------------------------- Loading ---------------------------- //

.spinner__div {
  min-height: 100vh;
  @include displayFlex(center);
  & .spinner-border {
    width: 300px;
    height: 300px;
  }
}

// ---------------------------- Footer ---------------------------- //

footer {
  background: $footer-color;
  color: $footer-text-color;
}
