@import "./mixins";
@import "./variables";

// ---------------------------- Navbar ---------------------------- //

.navbar {
  background: $bg-grey-color;
  height: 10vh;

  & .navbar-brand {
    @include transition-text;
    color: $text-white-color;

    &:hover {
      color: $text-hover-color;
    }
  }

  & .navbar-toggler {
    border: 0;
    font-size: $btn-font-size;
  }

  & .navbar-nav a {
    @include LinkTag();
    &:hover {
      color: $text-hover-color;
    }
  }
}

// ---------------------------- Home ---------------------------- //

#fetch-container {
  min-height: 100vh;
}

// ---------------------------- Fetch Page ---------------------------- //

.card-div {
  &:hover .img-info {
    background: rgba(0, 0, 0, 0.85);
    opacity: 1;
  }

  & .img-info {
    padding: 50px 30px;
    opacity: 0;
    transition: $transition-props;

    & .card-title,
    .card-text,
    .card-link {
      color: $text-white-color;
    }
  }
}

// ---------------------------- Search ---------------------------- //

.search-div {
  & .input-group {
    width: 40%;
    margin: auto;
  }

  & .input-div {
    border: 1px solid $border-color;
  }

  & .input-group-text {
    background-color: $bg-black-color;
    border: 1px solid $border-color;

    & svg {
      font-size: $btn-font-size;
      color: $btn-color;
      cursor: pointer;
      transition: $transition-props;
    }

    // & .search-arrow-icon {
    //   font-size: $btn-font-size;
    //   color: $btn-color;
    //   cursor: pointer;
    //   display: none;

    //   &:hover {
    //     display: block;
    //   }
    // }

    // & .search-icon {
    //   font-size: $btn-font-size;
    //   color: $btn-color;
    //   cursor: pointer;
    //   display: block;

    //   &:hover {
    //     display: none;
    //   }
    // }
  }
}

// ---------------------------- Footer ---------------------------- //

footer {
  background: $footer-color;
  color: $footer-text-color;
}
